{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Eliminación</title>
    <link rel="stylesheet" href="{% static 'css/delete.css' %}">
</head>
<body>
    <div class="container">
        <div class="delete-confirm">
            <h1>¿Seguro que deseas eliminar a {{ object.nombre }}?</h1>
            
            <div class="btn-group">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Sí, Eliminar</button>
                </form>
                <a href="{% url 'estudiante_list' %}" class="btn btn-primary">Cancelar</a>
            </div>
        </div>
    </div>
</body>
</html>
